<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='quantumos.css') }}"
        />
        <title>Quantumos</title>
    </head>
    <body>
        <div class="container">
            <div class="centered-text">Quantumos</div>

            <div class="content">
                <form action="/" method="post">
                    <label for="inputBox">Enter mass</label>
                    <input
                        type="text"
                        id="massBox"
                        name="massBox"
                        placeholder="Enter mass"
                    />
                    <input name="addVal" type="submit" value="Add value" />
                    <input name="submit" type="submit" value="Submit" />
                </form>
            </div>
            <!-- <img
                src="{{ url_for('static', filename='img.jpg') }}"
                style="height: 300px"
            /> -->
        </div>
    </body>
</html>
